.header{
	position: sticky;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1px solid lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	z-index: 999;
}

.headerleft{
	display: flex;
}
.headerright{
	display: flex;
}

.headerleft > img{

	object-fit: contain;
	height: 40px;
	margin-right: 10px;
}

.headersearch{
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;
	color: gray;
}

.headersearch > input{

	border-style: none;
	border-radius: 5px;
	color: gray;
	background-color: #eef3f8;
	width: 100%;
}




